.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

span.unit {
  margin: 0 0 0 10px;
}

#tab-project-overview {
  .column1, .column2 {
    width: 50%;
    float: left;
  }
  textarea {
    width: 100%;
    height: 80px;
  }
  label, input[type=text], input[type=checkbox], span.unit {
    float: left;
  }
  .column1 label {
    width: 80px;
  }
  div {
    @extend .clearfix;
  }

  $input-width: 270px;
  input[type=text] {
    width: $input-width - 14px;
  }
  select, .chosen-container {
    width: $input-width;
  }
  .chosen-container {
    margin: 0 0 10px;
  }
}

#tab-project-planning {
  .column1, .column2 {
    width: 50%;
    float: left;
  }
  .column1 input[type=text] {
    width: 90px;
  }
  .date-field {
    width: 90px;
  }
  textarea {
    width: 100%;
    height: 100px;
  }
  label, input[type=text], input[type=checkbox] {
    float: left;
  }
  .column1 label {
    width: 100px;
  }
  div {
    @extend .clearfix;
  }

}

#tab-project-resolutions {
  .column1, .column2 {
    width: 50%;
    float: left;
  }

  textarea {
    width: 100%;
    height: 100px;
  }

}
